In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import os
from os import path
import numpy as np
import matplotlib.pyplot as plt

In [2]:
raw_cli = "/home/local/VANDERBILT/litz/data/mcl/labels/no_shift_labels_first_code_050222.csv"
raw_df = pd.read_csv(raw_cli)
raw_df

,mcl_id,scan_order,scan_date,icd_date,malignant,pre-malignant,post-malignant,pre-diagnosis,post-diagnosis,all-benign,days
0,4715449525,0.0,2016-06-08,2016-01-26,False,False,True,False,False,False,134.0
1,4715449525,1.0,2016-08-29,2016-01-26,False,False,True,False,False,False,216.0
2,4715449525,2.0,2016-11-02,2016-01-26,False,False,True,False,False,False,281.0
3,31669661653,0.0,2018-06-28,2015-11-27,False,False,True,False,False,False,944.0
4,27234772794,0.0,2015-07-09,2014-04-17,False,False,True,False,False,False,448.0
...,...,...,...,...,...,...,...,...,...,...,...
4105,37742450498,0.0,2016-05-23,NaN,False,False,False,False,False,True,NaN
4106,28718829892,0.0,2017-05-20,NaN,False,False,False,False,False,True,NaN
4107,18673442340,0.0,2018-12-27,NaN,False,False,False,False,False,True,NaN
4108,18673442340,1.0,2019-01-10,NaN,False,False,False,False,False,True,NaN
4109,18673442340,2.0,2019-02-20,NaN,False,False,False,False,False,True,NaN

In [11]:
out = "/home/local/VANDERBILT/litz/github/MASILab/DeepLungScreening/cohorts/long_imagevu_id_list.csv"
mcl_list = pd.DataFrame({"mcl_id":raw_df['mcl_id'].unique()})
mcl_list.to_csv(out, index=False, index_label=False)
pd.read_csv(out)

           mcl_id
0      4715449525
1     31669661653
2     27234772794
3     16632253220
4      3243746020
...           ...
1631  40448288992
1632  15052130991
1633  37742450498
1634  28718829892
1635  18673442340

[1636 rows x 1 columns]

In [17]:

print(raw_df['all-benign'].value_counts())
print(raw_df['malignant'].value_counts())
print(raw_df['pre-malignant'].value_counts())
print(raw_df['pre-diagnosis'].value_counts())
print(raw_df['post-malignant'].value_counts())
print(raw_df['post-diagnosis'].value_counts())

True     2292
False    1818
Name: all-benign, dtype: int64
False    3883
True      227
Name: malignant, dtype: int64
False    4027
True       83
Name: pre-malignant, dtype: int64
False    4092
True       18
Name: pre-diagnosis, dtype: int64
False    2822
True     1288
Name: post-malignant, dtype: int64
False    3908
True      202
Name: post-diagnosis, dtype: int64

In [13]:
grp = raw_df.groupby('mcl_id', as_index=False).max()
grp['all-benign'].value_counts()

True     874
False    762
Name: all-benign, dtype: int64

In [15]:
print(grp['malignant'].value_counts())
print(grp['pre-malignant'].value_counts())
print(grp['pre-diagnosis'].value_counts())
print(grp['post-malignant'].value_counts())
print(grp['post-diagnosis'].value_counts())

False    1459
True      177
Name: malignant, dtype: int64
False    1574
True       62
Name: pre-malignant, dtype: int64
False    1626
True       10
Name: pre-diagnosis, dtype: int64
False    1049
True      587
Name: post-malignant, dtype: int64
False    1539
True       97
Name: post-diagnosis, dtype: int64